@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --n1: hsl(209, 23%, 22%);
  --n2: hsl(207, 26%, 17%);
  --n3: hsl(200, 15%, 8%);
  --n4: hsl(0, 0%, 52%);
  --n5: hsl(0, 0%, 98%);
  --n6: hsl(0, 0%, 100%);
}